Show me the money!

<div>
	<h3>Hello, <%= @user.name %></h3>
</div>
<hr>

<h4>Your Current Rooms</h4>

<% @user.rooms.each do |r| %>
	<div>
	<%= link_to r.name, room_path(r), class: "col-sm-4" %>
	</div>
<% end %>


