<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
</head>
<body>
[This App] was created in order to assist instructors in our WDI program at GA to know when students are in need.  After creating a room, an instructor can create a button with a custom title and a custom amount of clicks needed to set off an event.  Using Twilio's API, the instructor will receive a text message with a body of text recognizing the students' need.  Our intention for this app was to allow instructors to receive a warning when students needed a break or were getting stuck on a problem.

Technologies Used :
Languages: JavaScript, Ruby, HTML5, and CSS3
Frameworks: Rails
Other: Git/Github, jQuery, Bootstrap, Heroku
</body>
</html>