<div class="container">
	<div></div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="circle">
				<div class="aboutHeader">What is voteIt?</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="aboutContent">
				voteIt is a voting app that lets you vote anonymously. Simply create something to vote on and get honest results. 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="circle">
				<div class="aboutHeader">What is voteIt?</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="aboutContent">
				voteIt can be used in everyday situations. Imagine a student who is too afraid to admit he is confused. Imagine a meeting where a person cannot voice their opinion. Imagine a group of friends arguing what they should do. voteIt introduces anonymity which relieves peer pressure allowing you to speak your mind without fear. 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="circle">
				<div class="aboutHeader">How to voteIt</div>
			</div>
		</div>
			<div class="col-xs-12 col-md-8">
				<div class="aboutContent">
					Using voteIt is easy! Simply sign up using your e-mail, phone-number, and Twilio number. Create a room, create a button, and let people vote as they see fit. Once the voting is over voteIt sends you a text alert using your registered phone number. Easy!
				</div>
			</div>
	</div>
</div>