<div class="container">
	<div class="row">
		<div class="col-xs-6">
		<div id="aboutBody">
		[This App] was created in order to assist instructors in our WDI program at GA to know when students are in need.  After creating a room, an instructor can create a button with a custom title and a custom amount of clicks needed to set off an event.  Using Twilio's API, the instructor will receive a text message with a body of text recognizing the students' need.  Our intention for this app was to allow instructors to receive a warning when students needed a break or were getting stuck on a problem.<br><br>
		<p>
			The inspiration for [This App] came from the many moments in class when a majority of students were in need of a mental break or were struggling keeping up with the pace of the lecture.  We realized that it would be nice to be able to alert the instructor in an anonymous way that we were in need of a break or a second to digest the material.
		</p>
		<div id="githubLink">
			<a href="https://github.com/WDI-18-Project-2/Project_Two">GitHub Repo</a>
		</div>
		</div>
		</div>
		<div class="col-xs-6">
			<img id="firstPic" src="http://clov.com/blog/wp-content/uploads/2013/02/Teamwork-is-essential.jpg">
		</div>	
	</div>
</div>
