<div class="container">
	<div class="contactHeader">Meet The Team!</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-04-02/4303439435_1bda45720dde62191cab_192.jpg">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1 class="staffName">Justin Diaz</h1>

			<p class="blurb">Justin Diaz is a full stack developer looking for ways to use his coding skills to affect positive change in the neighborhoods around him. In addition to General Assembly, Justin has been a part of other programs such as Year Up and Hack the Hood. Ss an intersectional feminist ally, he is constantly finding ways to better himself and benefit those around him</p>

			<div>
				<a class="links" href="https://www.linkedin.com/in/justinldiaz">Justin's LinkedIn</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-04-17/4516635695_151e0fe97f1a0fdf075c_192.jpg">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1 class="staffName">Spencer Cornelia</h1>

			<p class="blurb">Spencer decided to take General Assembly's WDI program in order to create cool apps.  With a background in sports and athletics, he enjoys attending NBA games, yelling at the tv after touchdowns, and meeting people who share the same rooting interest.  Having a passion for code gets him through the intensive program and the energy to fix bugs.  In his free time, he enjoys reading about obscure sports data, watching movies at the theater, and eating chocolate covered strawberries.</p>
			<div class="links">
				<a href="https://www.linkedin.com/in/SpencerCornelia">Spencer Cornelia's LinkedIn</a>	<br>
				<a href="https://github.com/SpencerCornelia">Spencer Cornelia's GitHub</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-03-17/4081289407_f510f7d8fa85d4228e2f_192.jpg">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1 class="staffName">Michael Walker</h1>
			
			<p class="blurb">Michael is a former touring audio engineer, turned bar manager, turned full-stack web developer. He enjoys box wine, ugly dogs, and a questionable obsession with the color RGBA(38, 225, 180, 0.8).</p>
			
			<div>
				<a class="links" href="https://www.linkedin.com/in/cmswalker">Michael's LinkedIn</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-04-27/4652407159_267d00bfdc4dd9af8ffe_192.jpg">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1 class="staffName">Tae Kim</h1>

			<p class="blurb">Tae is currently studying to be a full stack web developer through the web development immersive course at GA. In his spare time Tae loves to cook, bake, read, and watch Netflix. He is proudly owned by his two cats Munji and Somi.</p>
			<div>
				<a class="links" href="https://www.linkedin.com/in/taekimsf">Tae Kim's LinkedIn</a>
			</div>
		</div>
	</div>
</div>