<label>Add a Room</label>
<%= form_for @room do |f| %>
	<div class="form-group col-md-6">
		<%= f.text_field :name, placeholder: "Room Name", class: "form-control" %>
	</div>
	<!-- COME BACK TO THIS AFTER USER LOGIN IS FINISHED -->
	<%= f.hidden_field :user_id, :value => params[:id] %>
	<div class="form-group col-xs-12">
		<%= f.submit "Add Room", class: "btn btn-sm btn-primary col-sm-2"%>
	</div>
<% end %>


