<%= render partial: 'buttons/form', locals: {button: @button} %>


<% @room.buttons.each do |b| %>
	<div class="btn btn-sm btn-primary col-sm-2 room_buttons">
		<%= b.condition %>
		<%= b.votes %>
	</div>
<% end %>