// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */

 .delete_buttons {
 	max-height: 1.5em;
 	max-width: 1.5em;
 	margin-left: -1px;
 	margin-right: 14px;
 	margin-top: 3px;
 	padding-right: 1.5em;
 	padding-bottom: 1.75em;
 	text-align: center;
 	color: white;
  background-color: #FFBFA0;
   a {
   	color: white;
   }
 }

 .delete_buttons:hover {
 	background-color: RGBA(225, 161, 130, 1);
 }

 .room_link {
 	height: 1.75em;
 	background-color: RGBA(81, 172, 202, 1);
 	padding: none;
 	color: white;
 	text-align: center;
 	padding-top: 5px;
 	border-radius: 5px;
 	margin:3px;
 }

 .room_link:hover {
 	text-decoration: none;
 	background-color: RGBA(51, 142, 172, 1);
 	color:white;
 }

 .add_room_form {
 	margin-top: 30px;
 }

 #add_room_button {
 	background-color: RGBA(153, 182, 222, 1);
 	border: none;
 }

 #add_room_button:hover {
 	background-color: RGBA(123, 152, 192, 1);
 }