<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
<link rel="stylesheet" href="./assets/stylesheets/about.scss">
</head>
<body>
<div class="container">
    <div class="panel panel-default">
    	<div class="panel-body">
        [This App] was created in order to assist instructors in our WDI program at GA to know when students are in need. After creating a room, an instructor can create a button with a custom title and a custom amount of clicks needed to set off an event. Using Twilio's API, the instructor will receive a text message with a body of text recognizing the students' need. Our intention for this app was to allow instructors to receive a warning when students needed a break or were getting stuck on a problem.
        <br>
        <br>
        <p>
            Technologies Used : <br>
            Languages: JavaScript, Ruby, HTML5, and CSS3 <br>
            Frameworks: Rails <br>
            Other: Git/Github, jQuery, Bootstrap, Heroku <br>
        </p>
        <br>
        Created at General Assembly&trade; June 2015 as part of WDI 18
    </div>
    </div>
</div>
</body>
</html>